@model List<JadooTravel.Dtos.DestinationDtos.ResultDestinationDto>
@{
    Layout = null;
}

<Link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /><br />
    <table class="table table-bordered"
        <tr>
            <th>#</th>
            <th>Tur şehir/ülke ad</th> 
            <th>Tur Fiyatı</th>
            <th>Tur kapasitesi</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.DestinationId</td>
            <td>@item.CityCountry</td>
            <td>@item.Price</td>
            <td>@item.Capacity</td>
            <td><a href="/Destination/DeleteDestination/@item.DestinationId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Destination/UpdateDestination/@item.DestinationId" class="btn btn-success">Güncelle</a></td>
        </tr>
        }
        </table>
        <a href="/Destination/CreateDestination/" class="btn btn-info">Yeni tur Girişi</a>
</div>
