@model JadooTravel.Dtos.CategoryDtos.GetCategoryByIdDto
   
@{
Layout = null;
}


<Link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br /><br />
    <form method="post">
        <input type="hidden" asp-for="CategoryId"/>
        <input type="text" asp-for="CategoryName" placeholder="Kategori adını giriniz" class="form-control" />
        <br />
        <button class="btn btn-success">kategoriyi güncelle</button>


    </form>

</div>
